@model List<BurgerListViewModel>
@{
    ViewData["Title"] = "Menu";
}

<div class="container">
    <div class="row">
        @foreach(var burger in Model)
        {
            <partial name="~/Views/Shared/Partials/_BurgerMenuCard.cshtml" for="@burger" />
        }
    </div>
</div>
